/* You can add global styles to this file, and also import other style files */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    background: #eee;
}

.score {
    &__input {
        width: calc( 100% - 80px );
        padding: 10px 20px;
        box-sizing: border-box;
        color: #666;
        font-size: 1.5em;
        height: 52px;
    }
    &__button {
        width: 75px;
        padding: 10px 20px;
        background: green;
        border: none; 
        color: white;
        font-weight: bold;
        height: 52px;
        font-size: 1.5em;
        cursor: pointer;
    }
}

.scores {
    display: flex;
    width: 100%;
    text-align: center;
    > div {
        width: 50%;
    }
    .scorelist {
        font-size: 1.25em;
        font-weight: bold;
        padding: .25em 0;
        margin: 0;
        padding: 0;
        list-style-type:  none;
    }
}

.remainingscore {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    p {
        border: 1px solid black;
        width: 50%;
        text-align: center;
        font-size: 2em;
        background: white;
        margin: 0;
        padding: .5em 0;
        &:last-child {
            border-left: 0;
        }
    }
}

.hide {
    display: none;
}

.stats {
    display: flex;
    text-align: center;
    > div {
        width: 50%;
    }
}